.cell {
    position: relative;
    display: inline-block;
    width: 60px;
}

.cell.full {
    color: rgb(255, 166, 52);
}

.cell.marked {
    color: rgb(96, 255, 67);
}

.cell.empty {
    color: #dddddd;
}

.cell.unit-0 {
    color: #ddda5c;
}

.cell.unit-1 {
    color: #dd5b5d;
}

.cell.unit-2 {
    color: #dd59d7;
}

.cell.unit-3 {
    color: #5b59dd;
}

.cell.unit-4 {
    color: #72ddda;
}

.cell.unit-5 {
    color: #5bdd68;
}

.cell .hex {
    font-size: 70px;
    line-height: 1;
}

.cell .pivot {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 60px;
    font-size: 120px;
    line-height: 70px;
    text-align: center;
    color: #a2d1ff
}

.cell .text {
    position: absolute;
    top: 4px;
    width: 60px;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    color: #333;
}

.row {
    margin-bottom: -17px;
}

.row:nth-child(even) {
    margin-left: 30px;
}

.board {
    margin: 0 auto;
}
